{% extends "common.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     {% block title %}admin view{% endblock title %}
</head>
<body>
    {% block content %}
     <h1>Product Catelog</h1>
     <a href="{% url "products"%}">Products</a>
     <a href="{% url "createproduct"%}">Create Product</a>
     <a href="{% url "createcategory"%}">Create Category</a>
     {% comment %} <a href="{% url "edit" edit.id %}">Edit Product</a> {% endcomment %}
    {% endblock content %}
</body>
</html>